*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: lightblue;
    font-family: Archivo Narrow;
    color:crimson;
}

.contenedor{
    border:3px solid whitesmoke;
    background-color: darkslategrey;
    margin:8vw;
    margin-top:2vw;
    margin-bottom:2vw;
    border-radius: 10px;
    font-size:1.5vw;
    
    
}
h1{
    color:whitesmoke;
    text-align: center;
    margin:1vw;
}
hr{
    border:2px solid whitesmoke;
    border-radius: 10px;
    width:98%;
    margin-left:1vw;
}
.cartas{
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.carta{
    border:1px solid whitesmoke;
    margin:1vw;
    width:200px;
    height:320px;
    border-radius: 10px;
    display:flex;
    flex-wrap:nowrap;
    flex-direction:row;
    box-shadow:10px 10px rgba(0, 0, 0, 0.5) ;
}
.corazon{
    background-color:whitesmoke;
    border:1px solid whitesmoke;
    border-radius:50%;
    width:250px;
    height:15px;
}

#c1, #c2, #c3, #c4, #c5, #c6, #c7, #c8, #c9, #c10{
    text-align: center;
    display:flex;
    background-color:whitesmoke;
    justify-content: space-between;
    align-items: center;
    
}   
 
.coraCont {
    height: 100%;
    width: 100%;
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: space-between;
    flex-direction:column;
    padding:1.3vw;
    
}
.coraCont6, .coraCont8{
    
    display:flex;
    flex-wrap:nowrap;
    justify-content: space-between;
    align-items: space-between;
    flex-direction:row;
    padding:1.5vw;
    flex-wrap: nowrap;
    
}
.coraCont .hcartaReverse{
    transform:rotatez(180deg);
}

.hcarta, .hcartaReverse{
    font-size:1.5em;
}
.cora6, .cora7, .cora8{
    width: 100%;
    height: 100%;
    flex-direction:row;
    justify-content: space-between;
    align-items: space-between
}
.cora6 .hcartaReverse{
    
    transform:rotatez(180deg);
}
.cora8 .hcartaReverse{
    
    transform:rotatez(180deg);
}
.cora6 .hcarta{
    padding-bottom:2vw;
}

.c1-1, .c2-1, .c3-1, .c4-1, .c5-1, .c6-1, .c7-1,.c8-1,.c9-1,.c10-1{
    font-size:15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding:0.5vw;
}

.c1-2{
    align-items: center;
}

.c1-3, .c2-3, .c3-3, .c4-3, .c5-3, .c6-3, .c7-3,.c8-3,.c9-3,.c10-3{
    display:flex;
    flex-direction: column;
    padding:0.5vw;
    height: 100%;
    font-size:15px;
    transform:rotatez(180deg);
}
