*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: honeydew;
    font-family: Archivo Narrow;
}

.contenedor{
    border:3px solid darkslategrey;
    background-color: grey;
    margin:8vw;
    border-radius: 10px;
    font-size:1.5vw;
    
    
}
h1{
    color:whitesmoke;
    text-align: center;
    margin:1vw;
}
hr{
    border:2px solid whitesmoke;
    border-radius: 10px;
    width:98%;
    margin-left:1vw;
}
.dados{
    display:flex;
    flex-direction:row;
}
.dado{
    border:1px solid whitesmoke;
    margin:3vw;
    width:150px;
    height:150px;
    border-radius: 10px;
    display:flex;
}
.punto{
    background-color:whitesmoke;
    border:1px solid whitesmoke;
    border-radius:50%;
    width:15px;
    height:15px;
    
}
#d1{
    background-color: maroon;
    align-items: center;
    justify-content: center;
}
#d2{
    background-color: chocolate;
    justify-content: space-between;
    padding:1vw;
}
#d3{
    background-color:darkorange;
    justify-content: space-between;
    align-items: center;
    padding:1vw;
    
}
#d4{
    background-color:darkgreen;
    justify-content: space-between;
    padding:1vw;
    flex-direction: column;

}
#d5{
    background-color:navy;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:1vw;

}
#d6{
    background-color:indigo;
    justify-content: space-between;
    align-items: center;
    padding:1vw;
    flex-direction:row;
    flex-wrap:nowrap;
}

.punto2-1{
    align-self:flex-end;
}

.punto3-1{
    align-self:flex-end;
}
.punto3-2{
    align-items: center;
}
.punto3-3{
    align-self:flex-start;
}
.punto4-1, .punto4-2{
    align-self:flex-start;
    justify-content: space-between;
    display:flex;
    width: 100%;
    
}
.punto5-1, .punto5-2{
    align-self:flex-start;
    justify-content: space-between;
    display:flex;
    width: 100%;
    align-items:center;
}
.punto6-1, .punto6-2{
    align-self:flex-start;
    justify-content: space-between;
    height: 100%;
    flex-direction:column;
    display:flex;
    
}

